<div class="modal fade " id="rent" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div *ngIf="state !== 2" class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Rent Car</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row d-flex justify-content-center mb-4">
          <form [formGroup]="carRentForm">

            <div class="mb-3">
              <label for="rentDate" class="modalLabels">Rent Date</label>
              <input formControlName='rentDate' (input)='minDateChange($event)' class="form-control form-control-lg"
                name="rentDate" type="date" min='{{minDate}}' max='{{maxDate}}'>
            </div>

            <div>
              <label for="returnDate" class="modalLabels">Return Date</label>
              <input formControlName='returnDate' class="form-control form-control-lg" name="returnDate" type="date"
                min='{{minDate}}' (input)='maxDateChange($event)' max='{{maxDate}}'>
            </div>
          </form>
        </div>


        <div class="text-danger"> {{errorMessage}} </div>
        <div class="text-primary"> {{rentMessage}} </div>
      </div>
      <div class="modal-footer">
        <button (click)="routeToPayment()" type="button" class="navButton">Go to payment</button>
      </div>
    </div>



    <div *ngIf="state !== 1" class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Payment</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <h3> {{lastPrice}}$ </h3>

        <form [formGroup]='paymentForm'>
          <div class="form-group mb-3">

            <label for="ccOwner" class="modalLabels">Card Owner</label>
            <input formControlName='owner' class="form-control form-control-lg" type="text" name='ccOwner'
              placeholder="Card Owner">
          </div>

          <div class="form-group mb-3">
            <label for="ccn" class="modalLabels">Credit Card</label>
            <input formControlName='number' class="form-control form-control-lg" type="tel" name='ccn'
              inputmode="numeric" pattern="[0-9\s]{13,19}" autocomplete="cc-number" maxlength="16"
              placeholder="xxxx xxxx xxxx xxxx">
          </div>

          <div class="form-group mb-3">

            <label class="modalLabels" for="lastMonth">Expiry Year</label>
            <div class="row">
              <select formControlName='expiryMonth' name='lastMonth' class="col-md-2 form-select form-select-lg"
                id='expireMM'>
                <option value="0">Month</option>
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
              </select>

              <select formControlName='expiryYear' name='expireYY' class="col-md-2 form-select form-select-lg"
                id='expireYY'>
                <option value="0">Year</option>
                <option value="21">2021</option>
                <option value="22">2022</option>
                <option value="23">2023</option>
                <option value="24">2024</option>
                <option value="25">2025</option>
                <option value="26">2026</option>
                <option value="27">2027</option>
              </select>
            </div>

          </div>
          <div class="form-group mb-3">

            <label class="modalLabels" for="cvv">CVV</label>
            <input formControlName='cvv' class="col-md-3  form-control form-control-lg" type="tel" id='cvv'
              placeholder="CVV" maxlength="3">
          </div>
          <div class="form-group mb-3">
            <label class="modalLabels" for="saveCard" class="me-2">Save Card</label>
            <input type="checkbox" id="saveCard" [(ngModel)]="saveCard" [ngModelOptions]="{standalone: true}">
          </div>

          <div class="text-danger"> {{errorMessage.message}} </div>
          <div class="text-success"> {{successMessage}} </div>
        </form>


      </div>
      <div class="modal-footer">
        <button (click)="completePayment()" type="button" class="navButton">Rent</button>
      </div>
    </div>


  </div>
</div>
