.image {
  flex-wrap: wrap;
}

.image>img {
  width: 10rem;
  padding: 0 1rem 0 1rem;
}

.image>img:hover {
  width: 12rem;

}

.navButton {
  margin-left: 0 !important;
  font-size: 18px !important;
}

.secondaryButton {
  margin-left: 0 !important;
  font-size: 18px !important;
}

.main-column {
  flex: 1;
}

.align-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.long-column {
  min-width: 250px;
  font-size: 23px;
}

.short-column {
  min-width: 100px;
  font-size: 23px;
}
