<div class="w-100 mt-3 border shadow">

  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          <div class="h5">
            Cars
          </div>
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
        data-bs-parent="#accordionFlushExample">
        <ul class="list-group">
          <app-car-add></app-car-add>
          <li class="list-group-item btn text-start" routerLink='/admin/cars/update'>Car Update</li>
        </ul>
      </div>
    </div>


    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          <div class="h5">
            Colors
          </div>
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
        data-bs-parent="#accordionFlushExample">
        <ul class="list-group">
          <app-color-add></app-color-add>
          <li class="list-group-item btn text-start" routerLink='/admin/colors/update'>Color Update</li>
        </ul>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          <div class="h5">
            Brands
          </div>
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
        data-bs-parent="#accordionFlushExample">
        <ul class="list-group">
          <app-brand-add></app-brand-add>
          <li class="list-group-item btn text-start" routerLink='/admin/brands/update'>Brand Update</li>
        </ul>
      </div>
    </div>
  </div>


</div>
