<li class="dropdown">

  <a class="dropdown-toggle navbutton" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
    aria-expanded="false">
    COLORS
  </a>


  <ul class="dropdown-menu topnavbarmenu" aria-labelledby="dropdownMenuButton1">
    <li class="list-group-item btn" (click)="setCurrentColorDefault()">All Colors</li>
    <li class=" list-group-item form-group">
      <input type="text" [(ngModel)]="filterText" class="form-control" placeholder="Search a color">
    </li>
    <li class="list-group-item btn" *ngFor=" let color of colors | colorFilterPipe:filterText"
      (click)="setCurrentColor(color)">
      <span>
        {{color.name}}
      </span>
    </li>
  </ul>

</li>
