<input type="text" [(ngModel)]="filterText" class="form-control mb-3 searchInput" placeholder="Search a car">

<ul class="nav nav-tabs navbar-left latest-navleft sort-section my-4">
  <li class="li-sortby"><span class="sortby">SORT BY: </span></li>
  <li (click)="sort('alphabetical')"><a class="alphSort">ALPHABETICAL </a></li>
  <li (click)="sort('highestPrice')"><a class="prcBtnH">HIGHEST PRICE </a></li>
  <li (click)="sort('lowestPrice')"><a class="prcBtnL">LOWEST PRICE </a></li>
  <li id="hideonmobile">
</ul>

<div class="container">
  <div class="row mb-3">
    <div (click)="setCurrentCar(car)" *ngFor="let car of cars | carFilterPipe:filterText |carSort:sortBy"
      class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mb-5 btn  position-relative">
      <div class="txthover">
        <img [src]="car.images.length !== 0 ? imageUrl+ car.images[0].imagePath : imageUrl + defaultImg"
          class="card-img-top" style="height: 50%;" alt="">
        <div class="txtcontent">
          <div class="simpletxt">
            <h3 class="name">{{car.brandName}}</h3>
            <p>{{car.description}} </p>
            <h4 class="price"> {{car.dailyPrice}}&dollar</h4>
            <!-- <button (click)="setCurrentCar(car)" class="btn">Details</button><br> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
