<form class="form-signin position-relative mt-5" [formGroup]='loginForm'>

  <img class="loginBorder" src="assets/image/border.png" alt="border">
  <div class="mt-5 pt-3">
    <h1 class="text-center mt-3 mb-2">
      <span class=" name aaa fw-bold "> fatih</span> <span class="text-uppercase aaa fw-bold">Rent</span>
    </h1>

    <div class="form-floating mb-3 mt-4">
      <input formControlName='email' type="email" class="form-control form-control-lg" id="floatingInput"
        placeholder="name@example.com">
      <label class="modalLabels" for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input formControlName='password' type="password" class="form-control form-control-lg " id="floatingPassword"
        placeholder="Password">
      <label class="modalLabels" for="floatingPassword">Password</label>
    </div>

    <div class="checkbox mb-3">
      <label class="modalLabels">
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="navButton mt-3"><span class=" text-uppercase" (click)="login()">Sign in</span></button>
  </div>
</form>
<img class="adminPanelImg" src="/assets/image/car6.jpg" alt="">
