<form [formGroup]='editForm' (ngSubmit)='updateUser()' *ngIf="loaded"
  class="w-75 mx-auto rounded shadow p-5 mt-5 position-relative form-background">
  <img class="border" src="assets/image/border.png" alt="border">

  <div class="form-group">
    <label class="modalLabels" for="name">Email</label>
    <input type="text" id="name" class="form-control form-control-lg" formControlName='email'>
  </div>
  <div class="form-group mt-3">
    <label class="modalLabels" for="name">First Name</label>
    <input type="text" id="name" class="form-control form-control-lg" formControlName='firstName'>
  </div>
  <div class="form-group mt-3">
    <label class="modalLabels" for="name">Last Name</label>
    <input type="text" id="name" class="form-control form-control-lg" formControlName='lastName'>
  </div>
  <div class="form-group mt-3">
    <label class="modalLabels" for="name">Company Name</label>
    <input type="text" id="name" class="form-control form-control-lg" formControlName='companyName'>
  </div>

  <div [ngClass]="message?.success ? ' text-success': 'text-danger'">
    {{message?.message}}
  </div>


  <div class="form-group w-100 d-flex justify-content-center">
    <button type="submit" class="navButton mt-4">Save</button>
  </div>
</form>
<img class="adminPanelImg" src="/assets/image/car2.jpg" alt="">
