.navbutton {
  font-family: 'BebasNeue Regular';
  font-size: 30px !important;
  color: #313943;
  padding-top: 5px;
  padding-bottom: 6px;
  margin-bottom: 22px;
  padding-left: 10px;
  padding-right: 10px !important;
  margin-left: 34px;
  border-bottom: 2px solid rgba(0, 0, 0, .0);
}

.navbutton:hover {
  background-color: none !important;
  background: none !important;
  border-bottom: 2px solid #C59E47;
}

.topnavbarmenu {
  left: 0 !important;
  top: 38px;
}
