<li class="dropdown">
  <a class="dropdown-toggle navbutton" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown"
    aria-expanded="false">
    BRANDS
  </a>


  <ul class="dropdown-menu topnavbarmenu" aria-labelledby="dropdownMenuButton2">
    <li class="list-group-item btn" (click)="setCurrentBrandDefault()">All Brands</li>
    <li class=" list-group-item form-group">
      <input type="text" [(ngModel)]="filterText" class="form-control" placeholder="Search a brand">
    </li>
    <li *ngFor=" let brand of brands | brandFilterPipe:filterText" class="list-group-item btn"
      (click)="setCurrentBrand(brand)">
      <span>{{brand.name}}</span>

    </li>
  </ul>
</li>
