<div class="newslettercontent">
  <div class="leftside">
    <img src="assets/image/border.png" alt="border">
    <h1> {{cars[0].brandName}} </h1>
    <div class="leftSideDiv">
      <p class="description"> {{cars[0].description}} </p>
      <p class="mt-5"> <span>Color</span> : {{cars[0].colorName}} </p>
      <p><span>Daily Price </span>: {{cars[0].dailyPrice |currency}} </p>
      <p> <span>Model Year</span> : {{cars[0].modelYear}} </p>
      <p><span>Findex Point </span>: {{cars[0].findexPuan}} </p>
    </div>

  </div>
  <div class="rightside">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-interval="3000" data-bs-ride="carousel">
      <div class="carousel-inner">


        <div *ngIf="cars[0]?.images?.length === 0" class="carousel-item active" [class.active]="true">
          <img [src]="imageUrl + defaultImg" class="d-block mx-auto" alt="ImagePath" style="height: 50vh;" />
        </div>



        <div class="carousel-item" *ngFor="let carImage of cars[0]?.images; index as i; first as firstImage"
          [ngClass]="{ active: firstImage }">

          <img [src]="carImage  ? imageUrl+ carImage.imagePath : imageUrl + defaultImg" alt="..." class="carouselimg" />
        </div>

      </div>
    </div>

  </div>
</div>
<button class="rentButton rentButton2" data-bs-toggle="modal" data-bs-target="#rent">RENT THIS
  CAR</button>
<app-rent-modal [isAvailable]='cars[0]?.isRentable' [dailyPrice]='cars[0]?.dailyPrice'></app-rent-modal>
