<form class="form-signin position-relative" [formGroup]='registerForm'>
  <img class="loginBorder" src="assets/image/border.png" alt="border">
  <div class="mt-3">
    <h1 class="text-center mt-5 mb-2 aaa">

      <span class="name fw-bold "> fatih</span> <span class="text-uppercase fw-bold">Rent</span>
    </h1>

    <div class="form-floating mb-3 mt-5">
      <input formControlName='email' type="email" class="form-control form-control-lg" id="floatingInput"
        placeholder="name@example.com">
      <label class="modalLabels" for="floatingInput">Email address</label>
    </div>
    <div class="form-floating mb-3">
      <input formControlName='password' type="password" class="form-control form-control-lg" id="floatingPassword"
        placeholder="Password">
      <label class="modalLabels" for="floatingPassword">Password</label>
    </div>
    <div class="form-floating mb-3">
      <input formControlName='firstName' type="text" class="form-control form-control-lg" id="floatingPassword"
        placeholder="Password">
      <label class="modalLabels" for="floatingPassword">First Name</label>
    </div>
    <div class="form-floating mb-3">
      <input formControlName='lastName' type="text" class="form-control form-control-lg" id="floatingPassword"
        placeholder="Password">
      <label class="modalLabels" for="floatingPassword">Last Name</label>
    </div>

    <div class=" mb-3">
      <label>
        <input type="checkbox" class="checkbox" value="remember-me"> Remember me
      </label>
    </div>
  </div>
  <button class="navButton mt-3"><span class=" text-uppercase" (click)="register()">Register</span></button>
</form>
<img class="adminPanelImg" src="/assets/image/car6.jpg" alt="">
