<nav class="navbar navbar-expand-lg">
  <div class="allcontain w-100">
    <div class="nav-full">
      <div class="header w-100">
        <ul class="socialicon">
          <li><a href="https://www.instagram.com/fatihkayann20/"><i class="fa fa-instagram"></i></a></li>
          <li><a href="https://github.com/fatihkayan20/"><i class="fa fa-github"></i></a></li>
          <li><a href="https://www.linkedin.com/in/fatihkayan/"><i class="fa fa-linkedin"></i></a></li>
        </ul>


        <div class="nameContainer text-center btn" routerLink='/'>
          <span class="name">Car Rental Company</span>
        </div>



        <ul *ngIf="!isAuthenticated()" class="logreg">
          <li><a routerLink='/login'>Login </a> </li>
          <li><a routerLink='/register'><span class="register">Register</span></a></li>
        </ul>



        <div class="dropdown logreg " *ngIf="isAuthenticated()">
          <button class="navButton" type="button" id="dropdownMenu2" data-bs-toggle="dropdown"
            aria-expanded="false"><span class=""> {{user.Name}} </span></button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <li><button routerLink='/admin' *ngIf="isAdmin()" class="dropdown-item" type="button">Admin Panel</button>
            </li>
            <li><button routerLink='/user/edit' class="dropdown-item" type="button">Edit Profile</button></li>
            <li><button class="dropdown-item" type="button" (click)="logout()">Logout</button></li>
          </ul>
        </div>
      </div>
    </div>



    <div class="navbar" id="upmenu">
      <ul class="nav navbar-nav   d-flex justify-content-center w-100 text-center" id="navbarontop">
        <li class="homebutton"><a class=" navbutton navButtonTop  active" routerLink='/'>
            HOME
          </a></li>
        <div class="d-flex" *ngIf="!isAdminPage">
          <app-colors></app-colors>
          <app-brands></app-brands>
        </div>
        <div class="d-flex" *ngIf="isAdminPage">
          <li class="dropdown">
            <a class="dropdown-toggle navbutton navButtonTop" type="button" id="dropdownMenuButton"
              data-bs-toggle="dropdown" aria-expanded="false">
              CARS
            </a>
            <ul class="dropdown-menu topnavbarmenu " aria-labelledby="dropdownMenuButton">
              <li class="list-group-item btn" data-bs-toggle="modal" data-bs-target="#carAdd">Car Add</li>
              <li class="list-group-item btn" routerLink='/admin/cars/update'>Car Update</li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle navbutton navButtonTop" type="button" id="dropdownMenuButton1"
              data-bs-toggle="dropdown" aria-expanded="false">
              COLORS
            </a>
            <ul class="dropdown-menu topnavbarmenu " aria-labelledby="dropdownMenuButton1">
              <li class="list-group-item btn" data-bs-toggle="modal" data-bs-target="#colorAdd">Color Add</li>
              <li class="list-group-item btn" routerLink='/admin/colors/update'>Color Update</li>
            </ul>
          </li>

          <li class="dropdown">
            <a class="dropdown-toggle navbutton navButtonTop" type="button" id="dropdownMenuButton2"
              data-bs-toggle="dropdown" aria-expanded="false">
              BRANDS
            </a>
            <ul class="dropdown-menu topnavbarmenu " aria-labelledby="dropdownMenuButton2">
              <li class="list-group-item btn" data-bs-toggle="modal" data-bs-target="#brandAdd">Brand Add</li>
              <li class="list-group-item btn" routerLink='/admin/brands/update'>Color Update</li>
            </ul>
          </li>
        </div>
      </ul>
    </div>
  </div>
</nav>



<div class="modal fade" id="carAdd" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <app-car-add></app-car-add>
</div>

<div class="modal fade" id="colorAdd" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <app-color-add></app-color-add>
</div>

<div class="modal fade" id="brandAdd" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <app-brand-add></app-brand-add>
</div>
